*,*::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.bg{
    background: url("../Assets/fondos/ejemplo.jpg") no-repeat center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

.loading-text{
    font-size: 50px;
    color: #fff;
}